# TMDB API Configuration
# Get your free API Key at https://www.themoviedb.org/settings/api
TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=

# Videasy Embed Base URL (defaults to https://player.videasy.net)
NEXT_PUBLIC_VIDEASY_BASE_URL=https://player.videasy.net
