# TMDB API Configuration
# Get your free API Key at https://www.themoviedb.org/settings/api
TMDB_API_KEY=f185fd26e0b5d4a99193d29f47c04ce9
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMTg1ZmQyNmUwYjVkNGE5OTE5M2QyOWY0N2MwNGNlOSIsIm5iZiI6MTc2NDA0MDc1Mi4zMzcsInN1YiI6IjY5MjUyMDMwMWRkMzc4OTY2YmQ5YzMxZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.q7UWt1vbgSe54DC_HfnGvq2NrvSRZSNPgz2j42uGxVE

# Videasy Embed Base URL (defaults to https://player.videasy.net)
NEXT_PUBLIC_VIDEASY_BASE_URL=https://player.videasy.net
